<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  <rosparam
    file="$(find kop_description)/config/physical_params.yaml"
    command="load"/>
  <param
    name="robot_description"
    textfile="$(find kop_description)/urdf/long_kop.urdf"/>
  <node
    name="spawn_robot"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find kop_description)/urdf/long_kop.urdf -urdf -z 0.5 -model long_kop"
    output="screen" />

  <include file="$(find kop_control)/launch/control.launch"/>
  <include file="$(find kop_interface)/launch/interface.launch"/>

</launch>
