<?xml version="1.0" ?>

<robot
        xmlns:xacro="http://www.ros.org/wiki/xacro"
        name="long_kop">

    <xacro:include filename="$(find kop_description)/urdf/kop.xacro"/>
    <xacro:include filename="$(find kop_description)/urdf/hokuyo.xacro"/>

    <link name="base_parent"/>

    <xacro:put_base_link parent="base_parent"/>

    <xacro:insert_wheel
            name="left_front"
            short="lf_wheel"
            origin="0.0657 -0.0563 -0.701"/>

    <xacro:insert_wheel
            name="left_middle"
            short="lm_wheel"
            origin="0.0657 -0.0599 -0.4064"/>

    <xacro:insert_wheel
            name="left_rear"
            short="lr_wheel"
            origin="0.0646 -0.0563 -0.1113"/>


    <xacro:insert_wheel
            name="right_front"
            short="rf_wheel"
            origin="0.6211 -0.0563 -0.7014"/>

    <xacro:insert_wheel
            name="right_middle"
            short="rm_wheel"
            origin="0.6200 -0.0599 -0.4064"/>

    <xacro:insert_wheel
            name="right_rear"
            short="rr_wheel"
            origin="0.6200 -0.0563 -0.1113"/>

    <xacro:create_trans name="lf_wheel"/>
    <xacro:create_trans name="lm_wheel"/>
    <xacro:create_trans name="lr_wheel"/>

    <xacro:create_trans name="rf_wheel"/>
    <xacro:create_trans name="rm_wheel"/>
    <xacro:create_trans name="rr_wheel"/>

    <xacro:hokuyo name="hokuyo"
                  parent="base_link"
                  ros_topic="/sensors/hokuyo_scan"
                  update_rate="40"
                  ray_count="1040"
                  min_angle="130"
                  max_angle="-130">
        <origin xyz="0.3429 0.0550 -0.7906" rpy="${pi / 2.0} ${pi / 2.0} ${pi}"/>
    </xacro:hokuyo>

    <gazebo>
        <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
            <robotNamespace>/kop</robotNamespace>
        </plugin>
    </gazebo>
</robot>
